<!-- views/pages/index.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'head.html' %}
</head>

<body>
    <div id="main_box">
        <header>
            {% include 'header.html' %}
        </header>
        <div id="data_container">
            {% include 'data_display.html' with dataFormatNode=dataFormatNode %}
            {% include 'right_panel.html' with dataFormatNode=dataFormatNode range=range %}
        </div>
    </div>
    <footer> {% include 'footer.html' %} </footer>
</body>
</html>
